@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eeebeb
}

a {
    color: #d54141;
    font-weight: bold;
}

#main_admin {
padding: 20px 0 5px 0;
}

.table {
    background-color: #fffdfd;
}

th, tr {
    text-align: center;
}

.avatar_table {
min-width: 110px;
}

.navbar-admin {
    padding: 0;
}

.align-items-center, .align-items-center p{
    padding: 0;
    margin: 0;
}

i {
    padding: 5px;
}

.navbar-admin i {
    color: #957d7d;
    font-size: 0.8rem;
}

.navbar-admin li {
    padding: 15px 10px 15px 10px!important;
    color: white;
}

.nav-link {
    padding: 0!important;
}
.nav-link::after {
    display: block;
    width: 100%;
    content: '';
    border-top: 1px solid #837e7e;
}

.nav-item:hover {
    background-color: #4f5459;
}

#back_index {
    width: 100%;
    height: 50px;
    background-color: #343a40 !important;
    color: #d3dadf;
    border-bottom: 1px solid #918c8c;
}

legend {
    background-color: #343a40;
    border-radius: 5px;
    color: #f4ebeb;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox_news label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #b1a9a9;
    display: block;
    border-radius: 100px;
    position: relative;
}

.checkbox_news label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.checkbox_news input:checked + label {
    background: #bada55;
}

.checkbox_news input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.checkbox_news label:active:after {
    width: 50px;
}


.checkbox_news label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #b1a9a9;
    display: block;
    border-radius: 100px;
    position: relative;
}

.checkbox_news label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.checkbox_news input:checked + label {
    background: #bada55;
}

.checkbox_news input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.checkbox_news label:active:after {
    width: 50px;
}

span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.1rem;
}

.fieldset {
    border: 2px solid #b2b2b2;
    padding: 0 5% 0 5%;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    background-color: #fffdfd;
}

input[type="submit"] {
    background: white;
    border: 1px solid #d7d4d4;;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px 10px 15px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}


#back_index a {
    color: white;
}

.h-100vh {
    height: 100vh;
}

.list_avatar {
    width: 45px;
    height: 45px;
    vertical-align: middle!important;;
    padding: 0!important;
}

.list_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#userinfo_avatar {
    margin-top: 10px;
    width: 100%;
}

#userinfo_avatar img {
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    border: 2px solid #aaa7a7;
}


#navbar_avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #898787;
}

#navbar_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-item.active .page-link {
    background-color: #8b8b8b!important;
}

.page-link {
    color: #4b4c4e;
}

.page-item.active .page-link {
    border: none;
}

.page-ling:hover {
    color: black!important;
}

.manage_announcement {
    background-color: #f6f4f4;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #e3dbdb;
}

.manage_announcement span {
    font-weight: bold;
    color: #878282;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 50%;
}

hr:after {
    display: inline-block;
    background: #fff;
    content: '*';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

@media (max-width: 800px) {
    #bloc_Date {
        display: none!important;
    }
    .navbar-admin ul {
        display: block;
    }
}

@media (max-width: 900px) {
    .avatar_table, .subscribe_table {
        display: none;
    }

    .table td, th {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 600px) {
    .admin_connect {
        display: none!important;
    }
}